* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.15em;
}

p {
  line-break: loose;
  white-space: normal;
}

p, span {
  color: #1f1f1f;
  user-select: none;
}

span {
  width: 24px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: url("../../assets/img/background/backgroundtwo-42.png") 252.5vh repeat;
  overflow: hidden;
}

.animate__animated.animate__backInUp {
  --animate-duration: 1.8s;
}

#gamediv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  min-height: 800px;
  background: url(../../assets/img/humans/primates3.jpg) no-repeat right 30% top 40%/770px;
  background-color: #fff8de;
  box-shadow: 2px 3px 15px hsla(0, 0%, 0%, 0.419);
  border-radius: 12px;
  border-radius: 5%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#gamediv > * {
  margin: 15px;
}
#gamediv #topdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
}
#gamediv #topdiv p {
  height: 93px;
  font-family: "Ysabeau Office ", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#gamediv #topdiv span, #gamediv #topdiv .config {
  margin: 4px;
  align-self: flex-start;
}
#gamediv #middlediv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  font-size: 45px;
  color: #fff8de;
  -webkit-text-stroke: 2px black;
}
#gamediv #botdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 210px;
}
#gamediv #botdiv .cards {
  margin: 15px;
  background-size: 200px;
  background-position: center 230px;
  width: 150px;
  height: 180px;
  border-radius: 5px;
  transition: all 0.5s;
}
#gamediv #botdiv #rock {
  background-image: url(../../assets/img/cards/slug.png);
}
#gamediv #botdiv #paper {
  background-image: url(../../assets/img/cards/frog.png);
}
#gamediv #botdiv #scissors {
  background-image: url(../../assets/img/cards/snake.png);
}
#gamediv #botdiv #play, #gamediv #botdiv #slider-div, #gamediv #botdiv #rounds {
  margin-bottom: 30px;
}
#gamediv #botdiv #play, #gamediv #botdiv #rounds {
  padding: 8px;
}
#gamediv #botdiv .hoverable:hover {
  scale: 1.2;
}
#gamediv #botdiv output {
  font-size: 50px;
  -webkit-text-stroke: 1.5px black;
}
#gamediv #slider-div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 50px;
}
#gamediv #slider-div #slider-rounds {
  width: 250px;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

#leftdiv, #rightdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 800px;
  width: 475px;
}

#leftdiv {
  margin-right: 20px;
}

#rightdiv {
  margin-left: 20px;
}

.stickers {
  position: absolute;
  height: 475px;
  width: 475px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#settings, #info {
  font-size: 20px;
  position: absolute;
  width: 300px;
  background-color: #fff8de;
  box-shadow: 2px 3px 15px hsla(0, 0%, 0%, 0.419);
  border-radius: 12px;
}

#settings {
  top: -7.5%;
  left: 0%;
  flex: 1 0 0;
  flex-direction: column;
}
#settings div {
  margin: 20px 30px;
}
#settings div .material-symbols-rounded {
  margin: 20px;
}

#info {
  top: -7.5%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info img {
  width: 50px;
}

#info-btn {
  position: relative;
  left: 15px;
}

.config-slider {
  width: 220px;
}/*# sourceMappingURL=style.css.map */