@import './mixin';

// general stuff

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.15em;
}

p {
    line-break: loose;
    white-space: normal;
}

body{
    @include flexCenter();
    min-height: 100vh;
    margin: 0;
    background: url("../../assets/img/background/backgroundtwo-42.png") 252.5vh repeat; 
    overflow:hidden;
}

// animations

.animate__animated.animate__backInUp {
    --animate-duration: 1.8s;
  }

//

#gamediv {
    @include flexCenter();
    width: 800px;
    min-height: 800px;
    background: url(../../assets/img/humans/primates3.jpg) no-repeat right 30% top 40%/770px;
    background-color: #fff8de;
    border-radius: 10%;
    box-shadow: 2px 3px 15px hsla(0, 0%, 0%, 0.419);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        
        > * {
            margin: 15px;
        }

        
        #topdiv {
            @include flexCenter;
            width: 650px;
            p {
                height: 93px;
                font-family: 'Ysabeau Office ', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        #middlediv {
            @include flexCenter;
            flex: 1 0 0;
            font-size: 45px;
            color: #fff8de ;
            -webkit-text-stroke: 2px black;
                p {
                    position: relative;
                    top: 125px;
                }
                    
        }

        #botdiv {
            @include flexCenter;
            gap: 2em;
            height: 210px;
                .cards {
                    margin:15px;
                    background-size: 200px;
                    background-position: center 230px;
                    width: 150px;
                    height: 180px;
                    border-radius: 5px;
                    transition: all 0.5s;
                }
                #rock {
                    background-image: url(../../assets/img/cards/slug.png);
                }
                #paper{
                    background-image: url(../../assets/img/cards/frog.png);
                }
                #scissors {
                    background-image: url(../../assets/img/cards/snake.png);

                }
                #play, #slider-div, #rounds {
                    margin-bottom: 30px;
                }

                #play, #rounds{
                    padding: 8px;
                }
                                
                .hoverable:hover{
                    scale: 1.2;
                }
                output {
                    font-size: 50px;
                }

                }

                #slider-div {
                    @include flexCenter;
                    align-items: center;
                    gap: 50px;
                    input {
                        width: 250px;
                    }
                }
                

    }

.hide {
    opacity: 0;
}

.show {
  opacity: 1;
}

#leftdiv, #rightdiv {
    position: relative;
    height: 475px;
    width: 475px;
}
#leftdiv {
    margin-right: 20px;
}

#rightdiv {
    margin-left: 20px;
}

.stickers{
    position: absolute;
    height: 475px;
    width: 475px;
}